seaborn
matplotlib
streamlit
pandas == 1.2.4
keybert
transformers
youtube_transcript_api
SpeechRecognition
moviepy
pydub
gensim
rouge-score
youtube-search-python
streamlit_option_menu
ffmpeg-python
ffmpeg
